
body {
    font-family: Arial, sans-serif, 1.5;
    max-width: 100%;
    height: auto;
    font-size: 3vh;
    font-display: auto; }

    @media screen and (max-width: 600px) {
        div.example {
          font-size: 30px;
        }
      }
      
img {
    max-width: 100%;
    height: auto;
    align-items: center;
  }

    
h1 {
    color: red;
}

h2 {
    color: black;
}

h3 {
    color: black
}



p, p1, p2, ol {
    text-align: justify;
  
}

footer{

    text-align: center;
    width: 100%;
    position: relative; 

}
